# ignore the xmlsamples.zip and folder
xmlsamples.zip
xmlsamples/
xmlsamples*

# ignore extra eclipse nonsense
.metadata
.metadata/
.metadata/*
MusicScoring/.metadata
MusicScoring/.metadata/
MusicScoring/.metadata/*
MusicScoring/.recommenders
MusicScoring/.recommenders/
MusicScoring/.recommenders/*
MusicScoring/XMLtoScore/bin
MusicScoring/XMLtoScore/bin/
MusicScoring/XMLtoScore/bin/*

# ignore temp files when PowerPoint is open and workout files
"Onward/Related Work/~$ScoreAnalysis.pptx"
"Onward/Related Work/PowerPointWorkout.png"
