# ignore the xmlsamples.zip and folder
xmlsamples.zip
xmlsamples/
xmlsamples*

# ignore extra eclipse nonsense
.metadata
.metadata/
.metadata/*
MusicScoring/.metadata
MusicScoring/.metadata/
MusicScoring/.metadata/*
MusicScoring/.recommenders
MusicScoring/.recommenders/
MusicScoring/.recommenders/*
